.wrapper {
    /* border : solid black; */
    width: 100%;
    height: 980px;

}

.city:hover {
    position:relative;
    top:-50px;
    width:200px;
    height:auto;
    display:block;
    z-index:1;
}

/*** window one *************************************************/


#window-one {
    width: 100%;
    height:100%; 
    background-image: url("img/full.gif");
     /* border:solid white; */
    
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

/* button {
    font-size: large;
} */

.general1 {
    /* border :solid black; */
    width :25%;
    height: 25%;
    margin: 20% auto;
    align-items: center;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
    /* background-color: lightgoldenrodyellow; */
}


 #name {
    font-size: 25px;
    background: grey;
    color: white;
    border: solid grey;
    
}

#header {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

#title1 {
    /* border: solid white; */
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px 0px;
    color: white;
    background-color: grey;
    margin-left: 12px;
}

#button-start { 
    font-size: 20px;
    padding: 20px 60px;
    border-radius: 10px;
    color:white;
    background-color: grey;
    
}

#about {
    font-size: 20px;
    padding: 20px 60px;
    border-radius: 10px;
    color:white;
    background-color: grey;
    border: grey;
    
}




/****window two ************************************************/

#window-two {
    width: 100%;
    height:100%;
    /* border: solid black; */
    display: none;
    background-color:lightskyblue;
}

.general2 {
    /* border:solid blue; */
    height: 100%;
}


#map {
    background-image: url("img/map.jpeg");
    background-size :cover;
    height: 90%;
    /* border: 4px solid brown; */
    

}

#switch-page {
   
    background:grey;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
#switch-page > button {
    font-size: 30px;
    background-color: grey;
    border: grey;
   
}

#title2 {
    /* border: solid white; */
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 12px 0px;
    color: white;
    background-color: grey;
}




.four-cities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    margin: 10px;

}


.two-cities {
    display: flex;
    justify-content: space-between;
    /* border: solid hotpink; */
    height: 30%;
    
}



.city {
    width :10%;
    height: 100%;
    background-color: honeydew;
    /* border: solid black; */
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    
    
   
    

}

.goto {
    
    padding: 8px 12px;
    width: 20%;
    background-color: grey;
    color: white;
    
}
#cityOne {
   
    background-image: url("img/2.jpeg");
    background-size: cover;
    
}
#cityTwo {
    background-image: url("img/1.jpeg");
    background-size: cover;
}
#cityThree {
    background-image: url("img/8f8ca963523c5e466128cd1518de8ad8.jpeg");
    background-size: cover;
}
#cityFour {
    background-image: url("img/images.jpeg");
    background-size: cover;
}


.show-truck-image {
    display: block;
}

img {
    /* border :solid blue; */
    margin: 10% auto;
    display: none;
}




#chooseWindow {
    /* border: solid grey; */
    height: 40%;
    width: 40%;
    font-size: 100%;
    text-align: center;
    margin: 0 auto;
  

}

#window-info {
    border: 2px solid ;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: grey;
    color: white;
    
   
}



#city-info {
    /* border : solid blue; */
   display: flex;
   flex-direction: row;

}

ul {
    list-style: none;
    float: left;
   
    
}

li {
   padding: 4px;
   /* border :solid green; */
   text-align: left;
   
}







/***window three *************************************************/

#window-three {
    display: none;
    width: 100%;
    height:100%;
    
}

.general3 {
    /* border : solid black ; */
    height: 100%;
}

#info {
    
    height: 90%;
    background-image: url("img/semi-incab.jpeg");
    background-size: 100% 100%;
}
#switch-page2 {
    background:grey;
    height: 10%;
    display: flex;
   
  align-items: center;
  justify-content:right;
    
}

#switch-page2 > button {
    font-size: 30px;
    background-color: grey;
    border: solid grey;
    margin-bottom: 0;
    
   
}



#load-sheets {
    border : solid white;
    color: white;
    font-size: x-large;
    background-color: grey;
    width: 30%;
    height: 70%;
    text-align: center;
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   margin: 2% auto;

}

#general-info > ul > li{
    /* border:solid white; */
    padding: 7px;
    margin: 5px;
}

/* window four ******************************************/


#window-four {
    display: none;
    width: 100%;
    height:100%;
    
    background-color:lightslategrey
}



#play {
    height: 90%;
    background-image: url("img/Road (Anime Background) 001.jpeg");
    background-size: 100% 100%;
   
}

#play-field{
    display: flex;
    height: 93.5%;
    
    
}


#side-info {
    
    width: 30%;
   /* border: solid red; */
   background-color: grey;
   color:white;
   border:solid white;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}


#driver-list {
   
    /* border:solid  tomato; */
    height: 60%;
    font-size: 17px;
}

#truck-list {
    height: 40%;
    font-size: 17px;
    /* border:solid  tomato; */
    padding-bottom: 7px;

}


#side-play {
    width: 70%;
    /* border: solid blue; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    
}

#gif-side {
    height: 45%;
    /* background-color: red; */
    width: 50%;
    margin: 0 auto;
    background-size: 100% 100%;
}

#remote-side {
    height: 30%;
  
    
   width: 70%;
   margin: 0 auto;
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
}

#remote-side > button {
    font-size: 20px;
    padding: 20px 60px;
    border-radius: 10px;
    color:white;
    background-color: grey;

}
#command {
    color: white;
    text-align: center;
}


/*window five ************************************************/

#window-five {
    display: none;
    width: 100%;
    height:100%;
    /* border: solid red; */
    background-image: url("img/sunset2.png") ;
    background-size: 100% 100%;
}

.general5 {
    /* border: solid black; */
    height: 100%;

}

#main {
    /* border: solid red; */
    height: 90%;
    text-align: center;
}


#analysis {
    /* border: solid white ; */
    width: 30%;
    margin: 0 auto;
    height: 60%;
    margin-top:5% ;
    margin-bottom: 5%;
    background-color: rgb(228, 220, 220);
    padding: 10px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#two-buttons > button{ 
    font-size: 20px;
    padding: 20px 60px;
    border-radius: 10px;
    color:white;
    background-color: red;
    
}
#one1 {
    display: none;
    /* border: solid white ; */

}

#result{
    /* display: none; */
    color: green;
}


/*window about ************************************************/

#window-about  {
    display: none;
    background-color: grey;
    position: absolute;
    /* border: solid white; */
    top:7%;
    right: 8px;
    height: 30%;
    width: 35%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    color :white;
    
    text-align: justify;
    text-justify: inter-word;
  
    
    line-height: 30px;
    
}



